@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import "./Utils/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background: $color-background;
    color: $color-text;
    font-family: 'Raleway', 'Dancing Script';
}

li {
    list-style: none;
}

link {
    text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}