.registration-container {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px indigo solid;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url('../../Assets/background-registration.jpg');
    background-position: center;
}

.registration-form {
    display: flex;
    width: 100%;

    &_container {
        display: flex;
        width: 100%;
    }
}
.profil-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.registration-title {
    text-align: center;
    margin-top: 20px;

    &_button {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
}

li {
    cursor: pointer;
    margin: 5px 10px;
    padding: 10px;
    border: 1px indigo solid;
    background-color: white;
    border-radius: 20px;
    width: 90px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
        transition: all 0.5s;
        background-color: indigo;
        color: white;
        border-color: white;
    }
}

.btn-active:active {
    background-color: indigo;
    color: white;
    border-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

input[type=text] {
    border: 1px solid indigo;
    border-radius: 25px;
    width: 240px;
    height: 25px;
    background: white;
}

input[type=password] {
    border: 1px solid indigo;
    border-radius: 25px;
    width: 240px;
    height: 25px;
    background: white;
}

input[type=submit] {
    border: 1px solid indigo;
    border-radius: 25px;
    width: 240px;
    height: 35px;
    background: white;
    cursor: pointer;
    font-family: 'Dancing';

    &:hover {
        transition: all 0.5s;
        background-color: indigo;
        color: white;
        border-color: white;
    }
}
